---
import BaseLayout from '../layouts/BaseLayout.astro';
import classGrowthsText from '../../data/class-growths.csv';

const classGrowths = new Map(classGrowthsText.split(/\r?\n/).slice(1, -1).map(line => {
  const parts = line.split('|');
  const name = parts[parts.length - 1];
  const growths = parts.slice(1, -1).map(n => ({
    text: n,
    number: parseFloat(n),
    color: 0,
  }));
  return [parseInt(parts[0], 16), { name, growths }];
}));
classGrowths.delete(0x0c);  // 盗贼
const raceGrowths = [0.2, 0.2, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1];
const totalGrowths = new Map(Array.from(classGrowths, ([id, { name, growths }]) => {
  const random = growths[growths.length - 1].number;
  const numbers = raceGrowths.map((n, i) => n + growths[i].number + random / 2);
  numbers.push(numbers.slice(2).reduce((s, n) => s + n, 0) + (numbers[0] + numbers[1]) / 10);
  return [id, { name, growths: numbers.map(n => ({ text: n.toFixed(2), number: n, color: 0 })) }];
}));

const ids = Array.from(Array(100).keys());
const groups = [
  [...ids.slice(0x01, 0x0c), ...ids.slice(0x0d, 0x13), ...ids.slice(0x33, 0x40), 0x46, ...ids.slice(0x13, 0x17)],
  [...ids.slice(0x1b, 0x2c)],
];
for (const theGrowths of [classGrowths, totalGrowths]) {
  const grwothLength = theGrowths.get(1)!.growths.length;
  for (const group of groups) {
    for (let grwothIndex = 0; grwothIndex < grwothLength; grwothIndex++) {
      const groupGrwoths = group.map(id => theGrowths.get(id)!.growths[grwothIndex]);
      const growthSet = new Set<number>();
      let max = -Infinity;
      let min = Infinity;
      for (const { number } of groupGrwoths) {
        growthSet.add(number);
        if (number > max) max = number;
        if (number < min) min = number;
      }
      const delta = max - min;
      for (const growth of groupGrwoths) {
        const ratio = (growth.number - min) / delta;
        if (ratio > 0.9) {
          growth.color = 5;
        } else if (ratio < 0.1) {
          growth.color = 1;
        } else if (ratio > 0.7) {
          growth.color = 4;
        } else if (ratio < 0.3) {
          growth.color = 2;
        } else {
          growth.color = 3;
        }
      }
      if (!groupGrwoths.some(g => g.color == 4 || g.color == 2)) {
        for (const growth of groupGrwoths) {
          if (growth.color == 5) growth.color = 4;
          if (growth.color == 1) growth.color = 2;
        }
      }
    }
  }
}

const title = '成长率';
---

<BaseLayout title={title}>
  <div id="grid-main">
    <h1>{title}</h1>
    <p>
      升级时，每项属性提升：此属性的兵种成长率 + 此属性的种族成长率 + 兵种随机成长率，小数点部分会被保留。<br />
      随机成长率：在【0.0、0.1、0.2、...、随机上限】中随机抽取一个，被抽取概率从中间向两端递减。
    </p>
    <h2 class="growths-title">
      兵种成长率
    </h2>
    <table class="growths-table">
      <thead>
        <tr>
          <th>兵种</th>
          <th>HP</th>
          <th>MP</th>
          <th>STR</th>
          <th>VIT</th>
          <th>DEX</th>
          <th>AGI</th>
          <th>AVD</th>
          <th>INT</th>
          <th>MND</th>
          <th>RES</th>
          <th>随机上限</th>
        </tr>
      </thead>
      <tbody class="growths-table-collapsed">
        <tr class="growths-table-expand">
          <td colspan="12">点击展开</td>
        </tr>
        {groups.map(group => (
          group.map(id => {
            const { name, growths } = classGrowths.get(id)!;
            return(
              <tr class={`growths-class-${id.toString(16)}`}>
                <td>{name}</td>
                {growths.map(({ text, color })=> (
                  <td class={`growths-color-${color}`}>{text}</td>
                ))}
              </tr>
            );
          })
        )).flat()}
      </tbody>
    </table>

    <h2 class="growths-title">
      种族成长率
    </h2>
    <p>《重生》中全部种族（包括剧情角色）的成长率均为HP、MP0.2，其他属性0.1，成长性不存在个体差距。</p>

    <h2 class="growths-title" id="total">
      总成长率（期望值）
      <div class="growths-tip">* HP、MP按十分之一计入</div>
    </h2>
    <table class="growths-table">
      <thead>
        <tr>
          <th>兵种</th>
          <th>HP</th>
          <th>MP</th>
          <th>STR</th>
          <th>VIT</th>
          <th>DEX</th>
          <th>AGI</th>
          <th>AVD</th>
          <th>INT</th>
          <th>MND</th>
          <th>RES</th>
          <th>总和*</th>
        </tr>
      </thead>
      <tbody>
        {groups.map(group => (
          group.map(id => {
            const { name, growths } = totalGrowths.get(id)!;
            return(
              <tr class={`growths-class-${id.toString(16)}`}>
                <td>{name}</td>
                {growths.map(({ text, color })=> (
                  <td class={`growths-color-${color}`}>{text}</td>
                ))}
              </tr>
            );
          })
        )).flat()}
      </tbody>
    </table>
  </div>
</BaseLayout>

<style lang="scss" is:global>
  :target {
    scroll-margin: 2rem 0;
  }

  #grid-main {
    grid-column: 2 / 4;
    margin-bottom: 6rem;
    > h1 + p {
      margin-top: 2.5rem;
    }
  }

  .growths-title {
    position: relative;
  }
  .growths-tip {
    position: absolute;
    right: 0;
    bottom: -1rem;
    max-width: 75%;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.125rem;
    text-align: right;
    color: var(--theme-text-lighter);
  }
  .growths-table {
    font-size: 10pt;
    border: 1px rgba(0,0,0,0.22) solid;
    border-width: 2px 0 0 2px;
    tbody {
      color: var(--theme-text-light);
      tr {
        background: none;
        &:hover {
          color: #000;
          text-shadow: #111 0 0 1px;
          :root.theme-dark & td:first-child {
            color: #fff;
            text-shadow: #eee 0 0 1px;
          }
        }
      }
    }
    th, td {
      width: 7.5%;
      padding: 2px 3px 2px 3px;
      text-align: center;
      border: 1px rgba(0,0,0,0.15) solid;
      border-width: 0 1px 1px 0;
      &:first-child {
        width: auto;
        text-align: right;
        padding-right: .75rem;
      }
      &:first-child,
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(8),
      &:nth-child(11),
      &:last-child {
        border-right-width: 2px;
        border-right-color: rgba(0,0,0,0.22);
      }
    }
    tr:last-child {
      th, td {
        border-bottom-width: 2px;
        border-bottom-color: rgba(0,0,0,0.22);
      }
    }
    td {
      line-height: 17px;
    }
  }
  .growths-class-12,
  .growths-class-46,
  .growths-class-15,
  .growths-class-16,
  .growths-class-22,
  .growths-class-23,
  .growths-class-27,
  .growths-table-expand {
    td {
      border-bottom-width: 2px;
      border-bottom-color: rgba(0,0,0,0.22);
    }
  }
  .growths-class-16 {
    td {
      border-bottom-color: rgba(0,0,0,0.6);
    }
  }

  td[class*="growths-color-"] {
    color: #111;
    &::selection {
      color: #111;
      background-color: rgba(14, 101, 235, 0.1);
    }
  }
  .growths-color-1 {
    background-color: rgb(230, 124, 115);
  }
  .growths-color-2 {
    background-color: rgb(243, 190, 185);
  }
  .growths-color-3 {
    background-color: rgb(255, 255, 255);
  }
  .growths-color-4 {
    background-color: rgb(171, 221, 197);
  }
  .growths-color-5 {
    background-color: rgb(87, 187, 138);
  }

  .growths-table-expand {
    display: none;
  }
  .growths-table-collapsed {
    tr {
      display: none;
    }
    .growths-table-expand {
      display: table-row;
      cursor: pointer;
      td {
        text-align: center;
        line-height: 26px;
      }
    }
  }
</style>

<script is:inline>
  document.querySelector('.growths-table-expand').addEventListener('click', () => {
    document.querySelector('.growths-table-collapsed').classList.remove('growths-table-collapsed');
  });
</script>
