---
import BaseLayout from '../layouts/BaseLayout.astro';
import translations from '../../data/translations.yaml';
import './translations.astro';  // for style

const title = '译名对照表（道具）';
const sections = {
  'arms': '装备',
  'commodity': '消耗品',
};
for (let section of Object.values(translations) as any[]) {
  section.hasCn2012 = section.some((x:any) => x.length > 4);
}
---

<BaseLayout title={title}>
  <div id="grid-main">
    <h1>{title}</h1>
    {Object.entries(sections).map(([sectionId, sectionName]) => (
      <>
        <h2 class="translations-title">
          {sectionName}
          {translations[sectionId].hasCn2012 && (
            <div class="translations-tip">* “2016汉化典藏版”调整了部分译名，玩家社区中常用新译，多数攻略资料成文较早用的旧译</div>
          )}
        </h2>
        <table class={`translations-table translations--${sectionId}`}>
          <thead>
            <tr>
              <th>官方中文</th>
              <th>
                命运之轮中文
                {translations[sectionId].hasCn2012 && (
                  <span class="translations-cn2012">/ 旧版*</span>
                )}
              </th>
              <th>日文</th>
              <th>英文</th>
            </tr>
          </thead>
          <tbody>
            {translations[sectionId].map((item: any) => (
              <tr>
                <td>{item[2]}</td>
                <td>
                  {item[3]}
                  {item[4] !== undefined && (
                    <span class="translations-cn2012">/ {item[4]}</span>
                  )}
                </td>
                <td>{item[1]}</td>
                <td>{item[0]}</td>
              </tr>
            ))}
          </tbody>
        </table>
      </>
    ))}
  </div>
</BaseLayout>
